<div class="about row">

    <div class="col-md-8">

        <h2>About</h2>

        <p></p>

        <h2>Contact</h2>

        <ul>
            <li>Email    ：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Linkedin ：<a href="https://linkedin.com/" target="_blank">https://www.linkedin.com/in/ajitjasrotia</a></li>
            <li>GitHub   ：<a href="{{ site.github_url }}"target="_blank">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
